[Desktop Entry]
Name=Firestaff
Comment=Dungeon Master engine reimplementation
Exec=firestaff
Icon=firestaff
Terminal=false
Type=Application
Categories=Game;RolePlaying;
