[Desktop Entry]
Type=Application
Name=Firestaff
Comment=Dungeon Master Collection
Exec=firestaff
Icon=firestaff
Categories=Game;RolePlaying;
Keywords=dungeon;master;rpg;retro;
