[Desktop Entry]
Name=Firestaff
Name[sv]=Firestaff
Comment=Source-faithful Dungeon Master engine
Comment[sv]=Källtrogen spelmotor för Dungeon Master
Exec=firestaff
Icon=firestaff
Terminal=false
Type=Application
Categories=Game;RolePlaying;
